/.internal
/build
.externalToolBuilders
.lock-wscript
*.pyc
.project
.cproject
builtins
/.editor_settings
log.txt

.idea
.vscode
.defold

/debugger
/dist
/debug

manifest.private.der
manifest.public.der

debug.keystore
debug.keystore.pass.txt
